.instructions-wrapper {
  position: absolute;
  z-index: 4;
  background-image: linear-gradient(90deg, rgba(201,219,203,1) 0%, rgba(255,255,255,1) 50%, rgba(201,219,203,1) 100%);
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: 4px solid rgb(143, 177, 146);
  border-radius: 5px;
  min-height: 700px;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  animation: scaling 0.2s 1;
}
@keyframes scaling {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.instructions__cancel {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  border: 4px solid rgb(143, 177, 146);
  border-radius: 2px;
  background-color: transparent;
  font-weight: bold;
  color: rgb(143, 177, 146);
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.instructions__cancel:hover {
  background-color: rgba(143, 177, 146, 0.2);
}

.instr__title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.instr__text {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}